*{
    margin: 0;
    padding: 0;
    font-family: 'Jaro';
}

.row >.container-main-child{
  padding: 0px;
}

.container-snake{
   position:relative;
   margin: 30px auto;
}

.header{
    width: auto;
    height: 2.75em;
}

.mainPrincipal{
    width: auto;
    height: 25em;
    overflow: hidden;
}




#canvas-tela{
  width: 100%;
  height: 300px;
  margin: 0px auto;
}


#controle{
    width:0px; 
    height:0px;
}

@media(prefers-color-scheme: dark){
  body{
    background: #343434;
  }

  .container-header{
    color: #fdfdfd;
    background: #652C63 !important;
    outline: 2px solid #652C63;
    border-radius: 2px;
   
  }

  .container-main-child{
    background: #0d1a4896 !important;
    outline: 2px solid #4168e7;
    border-radius: 2px;
  }
   
}

@media(prefers-color-scheme: ligth){
    body{
      background: #f8f8f8;
    }
}

@media (300px <= width <= 768px){
    
    #controle{
        position: absolute;
        bottom: 70px;
        right: 20px;
        width:100px; 
        height:100px;
        z-index: 1000;
    }
    #canvas-tela{
      /* width: 100%; */
      height: 100%;
      margin: 0;
      background-color: rebeccapurple;
    }

    .mainPrincipal{
      width: auto;
      height: 35em;
  }

  .container{
    margin: 15px 0;
  }

}

